<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('./partials/navbar.ejs') %>
    <%- include('./partials/index.ejs') %>
  </body>
  <%- include('./partials/script.ejs') %>
</html>
