<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head.ejs') %>
    <title><%= title %></title>
  </head>
  <body data-spy="scroll" data-target="#navbar">
    <%- include('./partials/navbar.ejs') %>
    <section id="home-section" class="hero"> 
        <%-include('./partials/portfolio.ejs') %>
    </section>
  </body>
  <%- include('./partials/script.ejs') %>